* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    background-color: #fdde7e;
    width: 100%;
    text-align: center;
    display: inline-flex;
    font-size: 0;
    align-items: center;   
    padding: 0 70px 0 70px;     
    /* to place all items along one central line */
}

/* Boxes with pictures and text */

.iconwrap {
    flex: 1;
    background: white;
    display: flex;  
    flex-direction: column;
    padding: 22px;
    align-items: center;
    font-size: 25px;
    box-shadow: 2px 2px 0px rgba(0, 0 , 0, 0.2);
    margin: 30px;
    
}

img {
margin-bottom: 30px;

}



h4 {
    font-size: 44px;
    color: #02995b;
    margin-bottom: 24px;
    font-family: "Miso bold";
    font-weight: bold;
    
}

.bigtext {
    font-size: 40px;
    margin-bottom: 25px;
    color: #333333;

}

p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #333333;
    margin-bottom: 25px;
}

