<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>router</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .navbar {
            height: 60px;
            width: 100%;
            background-color: burlywood;
            display: flex;
            justify-content: center;
        }

        .bar__item {
            max-height: 25px;
            background-color: chartreuse;
            margin: 5px;
        }

        .cat {
            width: 200px;
            height: 200px;
            border: 2px solid red
        }

        .CatName {
            min-height: 25px;
            max-width: 120px;
            border: 2px solid black;
            margin: 5px;
        }

        .cat__block {
            max-width: 300px;
            min-height: 500px;
            background-color: lightblue;
            padding: 10px;
            border-radius: 3px;


        }
    </style>
</head>

<body>



    <div id="app">
        <div class="navbar">
            <div class="bar__item">
                <router-link to="/LogIn">Log In</router-link>
            </div>
            <div class="bar__item">
                <router-link to="/Reg">Sign Up</router-link>
            </div>
            <div class="bar__item">
                <router-link to="/cat">Back</router-link>
            </div>
            <div class="bar__item">
                <router-link to="/Cats"> Cats</router-link>
            </div>
        </div>
        <router-link to="/CatPage"></router-link>
        <router-view></router-view>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script>



        const Reg = {
            template: `<div> 
                <form v-on:submit.prevent="signup"> 
                    Registration
                    <div>E-mail <input type="text" v-model="registerMail" ></div>
                    <div>Password<input type="password" v-model="registerPass"></div>
                    <button >Sign Me Up</button>
                </form>
            </div>`,
            data() {
                return {
                    registerMail: '',
                    registerPass: '',
                }

            },

            methods: {
                signup: function () {
                    axios
                        .post('http://46.101.202.248:9001/register', {
                            email: this.registerMail,
                            password: this.registerPass,
                        })
                        .then(function (response) {
                            console.log(response.data);

                        });

                },

            }
        }

        const LogIn = {
            template: `<div> 
        <form v-on:submit.prevent="logIn">
            Log In
            <div>E-mail <input type="text" v-model="logEmail" ></div>
            <div>Password<input type="password" v-model="logPassword"></div>
            <button>Log In</button>
        </form></div>`,
            data() {
                return {
                    logEmail: '',
                    logPassword: '',
                    token: '',
                }

            },
            methods: {
                logIn: function () {
                    axios
                        .post('http://46.101.202.248:9001/login', {
                            email: this.logEmail,
                            password: this.logPassword,
                        })
                        .then((response) => {
                            console.log(response.data);
                            this.token = response.data.token;
                            localStorage.setItem('token', this.token)
                            console.log(localStorage.getItem('token'))
                            this.$router.push('/Cat')
                        });

                },
            }
        }



        const Cats = {
            template: `<div>
                <div>
                    <ul>
                        <li class="CatName" v-for="(cat) in catsList">
                            <router-link :to="'/cats/' + cat.id">{{cat.name}}</router-link>
                        </li>
                    </ul>
                </div>
            
            </div>`,
            data() {
                return {
                    catsList: [],
                }

            },
            mounted() {
                this.loadCats()
            },

            methods: {

                loadCats: function () {
                    const token = localStorage.getItem('token');
                    axios
                        .get(`http://46.101.202.248:9001/cats?token=${token}`)
                        .then((response) => {
                            this.catsList = response.data
                            console.log(response.data)
                        })
                },
            }
        }

        const CatPage = {
            data() {
                return {
                    catsList: [],
                    catName: '',
                    catImg: '',
                    catDescr: '',
                    oneCat: {},

                }

            },
            template: `
            <div>
                <div> 
                    <router-link to="/cats"> Back </router-link>
                </div>
                <div class="cat__block">
               
                    <div>{{ $route.params.id }}</div>
                    <div>{{oneCat.name}}</div>
                    <div><img v-bind:src="oneCat.picture">></div>
                    <div><p>{{oneCat.description}}</p></div>
                </div>
            </div>`,

            mounted() {
                const token = localStorage.getItem('token');
                axios
                    .get(`http://46.101.202.248:9001/cats/${this.$route.params.id}?token=${token}`)
                    .then((response) => {
                        this.oneCat = response.data
                    })
                console.log(this.oneCat);
            },
        }






        const routes = [
            { path: '/reg', component: Reg },
            { path: '/login', component: LogIn },
            // { path: '/Cat', component: Cat },
            { path: '/cats', component: Cats },
            { path: '/cats/:id', component: CatPage },
        ]

        const router = new VueRouter({
            routes
        })


        const app = new Vue({
            router
        }).$mount('#app')


    </script>
</body>

</html>