* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f4f4;
    display: flex;
    justify-content: center;
}

.wrap {
    max-width: 87%;
    height: 100%;
    background-color: white;
    padding: 40px 75px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

main {
    max-width: 1160px;
}

.bigtext {
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    font-weight: 400;
}


.textbox {
    margin-bottom: 32px;
    margin-top: 35px;
}

.text {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 36px;
    opacity: 0.8;
}


.text:first-of-type::first-letter {
    font-family: "Playfair Display", serif;
    font-size: 110px;
    line-height: 90px;
    padding-right: 25px;
    float: left;
}


.textbottom {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 30px;
    opacity: 0.9;
}


.textbottom::before {
    content:"\201c";
    font-size: 60px;
}


button {
    width: 268px;
    height: 56px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #eaa258;
    border: 2px solid #eaa258;
    background-color: white;
    /* margin-bottom: 44px; */
}