<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shop cart</title>
    <script src="https://kit.fontawesome.com/c3c273024f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Tomorrow|Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>

<body class="body">
    <div id="app">
        <div class="navbar">
            <button class="cart" v-on:click="renderPage, isHidden = !isHidden">
                <span style="font-size: 30px; position: relative;"><i class="fas fa-cart-arrow-down">
                        <div class="counter"> {{ cartList.length }}</div>
                    </i></span>
            </button>

            <div class="login" v-on:click="showMenu = !showMenu"><i class=" fas fa-user"></i> </div>
            <transition name="fade">
                <div v-if="showMenu" class="login_window">
                    <div class="login_nav">
                        <div class="nav_icon" v-if="isAdmin" v-on:click="showPanel = !showPanel"><i
                                class="fas fa-tools"></i></div>
                        <div class="nav_icon"><i class="fas fa-cog"></i></div>
                        <div class="nav_icon" v-on:click="isAdmin = false"><i class="fas fa-door-open"></i></div>
                    </div>
                    <div class="login_title">Member login</div>
                    <form v-on:submit.prevent="verifyUser">
                        <div class="text_mail">E-mail</div> <input type="text" class="loginMail" v-model="userMail"
                            placeholder="Your E-mail">
                        <div class="text_pass">Password</div> <input type="password" v-model="userPass"
                            class="loginPass" placeholder="Your password">
                        <button class="login_btn">Login</button>
                    </form>
                </div>
            </transition>
        </div>

        <div class="container">
            <transition name="fade">
                <div class="admin_panel" v-if="showPanel">
                    <ul class=" create">
                        <li class="create__item"><span class="item__text">ID</span><input class="admin_input"
                                type="text" v-model="inputID">
                        </li>
                        <li class="create__item"><span class="item__text">Title</span><input class="admin_input"
                                type="text" v-model="inputTitle"></li>
                        <li class="create__item"><span class="item__text">Price</span><input class="admin_input"
                                type="text" v-model="inputPrice"></li>
                        <li class="create__item"><span class="item__text">ImageUrl</span><input class="admin_input"
                                type="text" v-model="inputImage"></li>
                        <li class="create__item"><button class="admin_btn" v-on:click="addNewItem">ADD</button></li>
                    </ul>
                    <div class="close__panel" v-on:click="showPanel = !showPanel"><i class="fas fa-times"></i></div>
                </div>
            </transition>
            <div class="list__container">
                <ul class="items_list" v-if="isHidden" v-for=" (item, index) in list">
                    <li class="item" style="display: flex;">
                        <div style="width: 30px;">{{item.id}}
                        </div>


                        <div class="image"><img v-bind:src="item.image"></div>

                        <div style="width: 120px; font-size: 20px; font-family: 'Varela Round'">
                            {{item.name}}</div>

                        <div style="min-width: 35px; font-family:  'Tomorrow'; color: red;">{{ item.price }} $</div>

                        <button class="list__incr" v-on:click="increaseNumb(item)"> +
                        </button>

                        <div class=" qtty">
                            <div>Quantity:</div> {{  item.qty  }}
                        </div> <button class="list__incr"
                            style="margin: 0px 15px; width: 22px; height:22px; border-radius: 5px;"
                            v-on:click="decrNumb(item)">
                            - </button>

                        <button class="btn" v-on:click="addItem(index)" v-if="item.showButton">Add
                            to
                            Cart</button>
                    </li>
                </ul>
            </div>


            <div class="cart_container" v-if="!isHidden">
                <transition-group tag="ul" name="fade" class="cartList">
                    <li v-for=" (piece, index) in cartList" class="cartList__item" :key="piece.id">
                        <div class="cartList__remove"><button class="remove__button" v-on:click="removeItem(index)"><i
                                    class="fas fa-trash-alt"></i></button></div>
                        <div class="cartList__name"> {{ piece.name }}</div>
                        <div class="cartList__qty"><button class="cartList_incr"
                                v-on:click="increaseCartNumb(piece)">+</button> Qty: {{ piece.qty }}
                            <button class="cartList_decr" v-on:click="decrCartNumb(piece)">-</button></div>
                        <div class="cartList__itemprice"> {{ piece.price* piece.qty }} $</div>
                        <div class="cartList_img"><img v-bind:src="piece.image"></div>
                    </li>
                </transition-group>
                <div class="total" v-if="showPrice" style="text-align: center;
                margin-top: 20px; font-size: 32px; color: rgb(245, 33, 33); font-family: 'Tomorrow'">Total Price:
                    {{ totalPrice }} $
                </div>
                <div class="cart_coupon">
                    <input class="coupon_field" type="text" v-on:keyup.enter="addDiscount" placeholder="Enter coupon"
                        v-model="coupon">
                    <div class="coupon_error" v-if="wrongCoupon"> Wrong coupon!</div>
                </div>

                <div class="cart__discount" v-if="discountedPriceShow">Discounted price: {{ this.newTotal}} </div>
            </div>
        </div>

    </div>


    <script src=" https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {

                list: [
                    { id: 001, name: 'Phone', price: 2500, qty: 0, isPurchased: false, showButton: false, image: 'https://cdn.tmobile.com/content/dam/t-mobile/en-p/cell-phones/apple/apple-iphone-xr/black/Apple-iPhoneXr-Black-1-3x.jpg' },
                    { id: 002, name: 'Laptop', price: 3500, qty: 0, isPurchased: false, showButton: false, image: 'https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6352/6352587_sd.jpg' },
                    { id: 003, name: 'Tablet', price: 3000, qty: 0, isPurchased: false, showButton: false, image: 'https://target.scene7.com/is/image/Target/GUEST_5f03cf2f-97a1-4651-88ac-4f6266ed34b0?wid=488&hei=488&fmt=pjpeg' },
                    { id: 004, name: 'Earphones', price: 1050, qty: 0, isPurchased: false, showButton: false, image: 'https://i.citrus.ua/imgcache/size_500/uploads/shop/6/f/6fa7a1adb8dfdba31bfdd5ecc57276f5.jpg' },
                    { id: 005, name: 'Apple', price: 150, qty: 0, isPurchased: false, showButton: false, image: 'https://image.shutterstock.com/image-photo/red-apple-on-white-background-260nw-158989157.jpg' },
                    { id: 006, name: 'Ball', price: 400, qty: 0, isPurchased: false, showButton: false, image: 'https://upload.wikimedia.org/wikipedia/commons/7/7a/Basketball.png' },

                ],


                isHidden: true,
                showButton: false,
                counter: 0,
                total: 0,
                cartList: [],
                coupon: '',
                discountedPrice: '',
                discountedPriceShow: false,
                discount: '',
                added: [],
                newTotal: '',
                wrongCoupon: false,
                showPrice: true,
                showMenu: false,
                isAdmin: false,

                userMail: '',
                userPass: '',
                mockAccount: { mail: 'admin@mail.com', password: '1234' },
                isAdmin: false,
                inputID: '',
                inputTitle: '',
                inputPrice: '',
                inputImage: '',
                showPanel: false,


            },

            mounted() {
                this.renderPage();
                if (localStorage.getItem('saved')) this.piece = JSON.parse(localStorage.getItem('saved'));


            },

            methods: {
                increaseNumb: function (item) {
                    item.qty = item.qty + 1
                    item.showButton = true


                },
                increaseCartNumb: function (piece) {
                    piece.qty = piece.qty + 1
                    this.coupon = ' '
                },

                decrNumb: function (item) {
                    item.qty = item.qty - 1;
                    // if (item.qty >= 0)
                    //     item.showButton = false

                },

                decrCartNumb: function (piece) {
                    piece.qty = piece.qty - 1
                    this.newTotal = 0
                },

                addItem: function () {
                    this.added = this.list.filter(item => {
                        if (item.qty >= 1) {
                            return true
                        }
                    })
                    localStorage.setItem('saved', JSON.stringify(this.added))
                    this.cartList = JSON.parse(localStorage.getItem('saved')) || [];
                    console.log(this.cartList)
                },

                addNewItem: function () {
                    app.list.push(
                        {
                            id: app.inputID,
                            qty: 0,
                            showButton: false,
                            title: app.inputTitle,
                            price: app.inputPrice,
                            image: app.inputImage,

                        })
                    app.inputID = ' ',
                        app.inputTitle = ' ',
                        app.inputPrice = ' ',
                        app.inputImage = ' '
                },

                renderPage: function () {
                    this.cartList = JSON.parse(localStorage.getItem('saved')) || [];
                },

                removeItem: function (index) {
                    app.cartList.splice(index, 1);
                    localStorage.setItem('saved', JSON.stringify(this.cartList))

                },
                addDiscount: function () {
                    this.discount = (this.total * 10) / 100
                    console.log(this.discount)
                    if (this.coupon === '10') {
                        this.wrongCoupon = false
                        this.showPrice = false
                        this.newTotal = this.total - this.discount
                        this.discountedPriceShow = !this.discountedPriceShow
                    }
                    else { this.wrongCoupon = !this.wrongCoupon }
                    return this.newTotal
                },

                verifyUser: function () {
                    if (this.userMail === this.mockAccount.mail && this.userPass === this.mockAccount.password) {
                        this.isAdmin = !this.isAdmin
                        this.userMail = ''
                        this.userPass = ''
                    }
                    else {
                        this.isAdmin = false
                    }
                },



            },
            computed: {
                totalPrice: function () {
                    let total = 0;
                    for (var i = 0; i < this.cartList.length; i++) {
                        total = total + (this.cartList[i].price * this.cartList[i].qty)
                        this.total = total

                    }
                    return total;
                },




            }
        })
    </script>
</body>

</html>
