* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    max-width: 1200px;
}

.body {
    background: #3CA55C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B5AC49, #3CA55C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 5px;
    background-color: rgb(59, 231, 59);
    border-radius: 30px;
    -webkit-box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.75);
}


.counter {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.list__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.items_list {
    display: flex;
    background-color: white;
    border: 1px solid rgb(59, 231, 59);
    margin: 18px 0px;
    min-width: 590px;
    max-width: 590px;
    border-radius: 5px;
    -webkit-box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
}

.item {
    display: flex;
    align-items: center;
    min-height: 140px;
    padding: 8px;

}

.list__incr {
    margin: 0px 11px;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.list__incr:hover {
    background-color: rgb(189, 189, 189);
}

.list__decr {
    margin: 0px 11px;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    outline: none;

}

.image {
    min-width: 110px;

}

img {
    max-width: 100px;
    max-height: 130px;
}

.btn {
    margin-left: 10px;
    background-color: green;
    min-width: 70px;
    min-height: 40px;
    border: 2px solid gold;
    padding: 3px;
    cursor: pointer;
    font-family: 'Tomorrow';
    font-weight: 700;
}

.qtty {
    text-align: center;
    font-family: 'Varela Round'
}

.cart_container {
    max-width: 900px;
    min-height: 500px;
    border-radius: 5px;
    border: 5px solid goldenrod;
    margin: 0 auto;
    background-image: url(./cartBckgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 30px;
}
.login {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 25px;
    
}

.login i:hover {
    color: rgb(70, 18, 119);
    cursor: pointer;
}
.login_window {
    position: absolute;
    right: 2%;
    top: 100%;
    width: 480px;
    border-radius: 5px;
    min-height: 280px;
    background-color: black;
    opacity: 0.9;
  
}

.login_nav {
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: gray;
    opacity: 1;
    margin-left: 30px;
    text-align: center ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.login_title {
    position: absolute;
    color: gray;
    text-transform: uppercase;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Varela Round';
    font-size: 24px;
}


.loginMail {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 225px;
    height: 28px;
    padding: 4px ;
    font-size: 16px;
    background: none;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
}

.loginMail:focus {
    border-bottom: 2px solid greenyellow;
}

.loginPass:focus {
    border-bottom: 2px solid greenyellow;
}

.loginPass {
    position: absolute;
    top: 58%;
    left: 30%;
    width: 225px;
    height: 28px;
    padding: 4px;
    font-size: 16px;
    background: none;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
}

.text_pass {
    position: absolute;
    color: gray;
    top: 62%;
    font-size: 14px;
    left: 18%;
}

.text_mail {
    position: absolute;
    color: gray;
    top: 45%;
    font-size: 14px;
    left: 18%;
}

.login_btn {
    position: absolute;
    bottom: 25px;
    right: 10%;
    width: 60px;
    height: 30px;
    font-size: 15px;
    font-family: 'Varela Round';
    background-color: rgb(212,201,80);
    border: none;
    outline: none;
    cursor: pointer;
}

.login_btn:hover {
 background-color: rgb(122, 113, 4);
}

.nav_icon {
    
    font-size: 22px;
}

.nav_icon:hover {
    color: rgb(70, 18, 119);
    cursor: pointer;
}
.admin_panel {
    height: 310px;
    width: 1000px;
    background-color:rgb(70, 18, 119) ;
    margin: 0 auto;
    border-radius: 3px;
    -webkit-box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: flex;
    position: relative;
}

.close__panel {
    position: absolute;
    right: 30px;
    color: red;
}



.create {
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 330px
}

.create__item {
    color: gray;
    font-size: 22px;
    font-family: 'Varela Round';
    margin: 5px 0px;
}

.admin_input {
    float: right;
    -webkit-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    height: 25px;
    font-size: 16px;
    padding: 3px;
}

.admin_btn {
    width: 60px;
    height: 30px;
    font-size: 15px;
    font-family: 'Varela Round';
    background-color: rgb(250, 230, 7);
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
}


.cart {
    background: none;
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.cart i:hover {
    color: rgb(70, 18, 119);
}

.yourcart {
    font-size: 30px;
    color: rgb(19, 54, 27);
}

.cart:hover {
    padding: 10px;
}

.discount {
    max-width: 75px;
}

.cart__discount {
    font-size: 32px;
    color: red;
    float: right;
    font-family: 'Tomorrow'
}

.cart_coupon {
    text-align: center;
    position: relative;
}

.coupon_error {
    position: absolute;
    color: red;
    font-weight: 700;
    top: 22%;
    left: 56%;
}

.coupon_field {
    max-width: 84px;
    height: 20px;
    padding: 3px;
    border: 1px solid goldenrod;
}



.cart_container {
    padding: 15px;
    -webkit-box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);

}

.cartList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;


}

.cartList__item {
    width: 170px;
    min-height: 250px;
    background-color: white;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid rgb(17, 56, 107);
    border-radius: 5px;
    -webkit-box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 20px 20px 5px 0px rgba(0, 0, 0, 0.75);
}

.cart_coupon {
    text-align: center;

}


.cartList__remove {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.cartList__remove button {
    padding: 0px;
}

.cartList__remove i:hover {
    color: red;
}



.cartList__name {
    font-size: 30px;
    color: rgb(26, 24, 25);
    margin-bottom: 18px;
    font-family: 'Varela Round'
}

.cartList__itemprice {
    font-size: 28px;
    font-family: 'Tomorrow';
    color: rgb(224, 70, 70);
    border-radius: 5px;
    margin: 15px 0px;

}

.cartList_img {
    min-height: 120px;
}

.cartList_incr {
    width: 22px;
    background-color: rgb(133, 133, 133);
    border: 1px solid black;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.cartList_incr:hover {
    background-color: rgb(189, 189, 189);
}

.cartList_decr {
    width: 22px;
    background-color: rgb(133, 133, 133);
    border: 1px solid black;
    font-size: 17px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.cartList_decr:hover {
    background-color: rgb(189, 189, 189);
}

.remove__button {
    background: none;
    min-width: 30px;
    border: 1px solid red;
    border-radius: 25px;

}


/* VUE ANIMATIONS */

.slide-fade-enter-active {
    transition: all .4s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to

/* .slide-fade-leave-active до версии 2.1.8 */
    {
    transform: translateX(10px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .7s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
