* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e7ec;
    font-size: 0;
    width: 100%;
    height: 100%;
    
}
main {
    display: flex;
    flex-wrap: wrap;
}

.mainbox {
    width: 100%;
    max-width: 1160px;
    height: 1200px;
    padding: 10px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
    

/* 5 blocks with pictures */


.blockbig {
    width:  740px;
    height: 540px;
    background: white;
    position: relative;
    background-image: url(./img/picture1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    margin: 10px;
    
}

.blocksmall {
        width: 360px;
        height: 540px;
        margin: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 28px;

}


.datemain {
    position: absolute;
    font-size: 14px;
    color: #818181;
    left: 41px;
    bottom: 120px;
    color: #fff;
} 

h1 {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    left: 41px;
    bottom: 37px;
    color: white;

    
}

.text  {
    
    font-size: 22px;
    font-weight: bold;
    flex-grow: 3;
    
}

.date {
    font-size: 13px;
    color: #818181;
    flex-grow: 1;
    
}

footer {
    color: #99a5b0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-size:17px;
}

footer>p {
    margin-left: 10px;}


    @media only screen and (max-width: 860px) {
        .blockbig {
            width: 100%;
        }
        .blocksmall {
            width: 50%;
            height: auto;
        }
        .mainbox {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
        }
        img {
            width: 100%;
            /* height: auto; */
        }
    }

    @media only screen and (max-width: 560px) {
        .blockbig {
            width: 100%;
        }
        .blocksmall {
            width: 100%;
            height: auto;
            
        }
        .mainbox {
            display: flex;
            flex-wrap: wrap;
            flex-direction: center;
            margin: 0 auto;
        }
    }